.idea/inspectionProfiles/profiles_settings.xml

.idea/dictionaries/bryan.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/workspace.xml

.idea/.name

.idea/encodings.xml

.idea/modules.xml

.idea/misc.xml

.idea/scooper.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

TestCases/20140327-1203_output_.csv

TestCases/20140327-1603_output_.csv

TestCases/20140327-1603_output_TestCases_Names_AllCBEntityTypes.csv

TestCases/20140327-1703_output_TestCases_Names_AllCBEntityTypes.csv

TestCases/TestCases_3names.csv

TestCases/TestCases_Names_AllCBEntityTypes.csv

src/lib/KLogger

TestCases/TestCases_2URLs_w_wo_http_output_20140327-1203.csv

TestCases/TestCases_2URLs_w_wo_http.csv

TestCases/TestCases_2URLs_w_wo_http.csv

TestCases/TestCases_OneName_Person_DanRosen.csv

TestCases/TestCases_OneName_Financial_Maveron.csv

TestCases/TestCases_OneName_Financial_Maveron.csv

*.log

src/config*.php

src/config.php
